@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.main-title--wrapper {
  animation-name: fadeIn, move;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes move {
  from { transform: translateY(10vh); }
  to { transform: translateY(0px); }
}

.main-title {
  margin-top: 5%;
  margin-left: 18%;
  font-size: 40px;
  font-weight: bold;
}

.gsm-space {
  font-weight: 400;
  line-height: 100px;
  color: rgba(48, 57, 96, 1);
  font-size: 60px;
  font-family: 'Righteous';
}