.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
  }
.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 1000px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  .modal_title {
      font-weight: bold;
      font-size: 20px;
      margin: 25px;
  }
  .Email-input {
    width: 400px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #303960;
    border-radius: 20px;
    margin: 15px;
  }
  .Google-login {
    width: 400px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #303960;
    border-radius: 20px;
    text-align: center;
    margin: 15px;
  }