.header-container {
  display: flex;
  padding: 56px 113px 0 65px;
  flex-direction: row;
  justify-content: space-between;
}

.header-input--wrapper {
  width: 800px;
  border-bottom: 2px solid #303960;
  display: flex;
  align-items: flex-end;
  margin-left: 10rem;
  margin-bottom: 1.2%;
}

.search-input {
  width: 720px;
  font-size: 18px;
  border: 0;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.search-input::placeholder {
  text-align: center;
}

.welcome-box {
  display: flex;
  flex-direction: row;
  width: 420px;
  height: 80px;
  border-radius: 10px;
  background-color: #303960;
  margin-right: -3%;
  justify-content: center;
  align-items: center;
}

.logout-box {
  display: flex;
  flex: 1;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 22px;
  text-decoration: none;

  color: #303960;
  font-size: 12px;
  font-weight: bold;
}

.main-header {
  padding: 2.92% 5.89% 0 3.39%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-logo {
  width: 153px;
  height: 74px;
}

.login-button {
  background: rgba(48, 57, 96, 1);
  width: 110px;
  height: 55px;
  outline: 0;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  color: white;
  font-weight: bold;
  font-size: 20px;
}

.login-button:hover {
  box-shadow: none;
  background: rgb(36, 43, 75);
  transition: 0.7s;
}

@media (max-width: 1700px) {
  .main-logo {
    width: 138px;
    height: 59px;
  }
  .login-button {
    width: 95px;
    height: 45px;
    border-radius: 17px;
    font-size: 17px;
  }
}

@media (max-width: 1023px) {
  .main-header {
    padding: 0;
    padding-top: 56px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
