/** @format */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0.88;
  height: 80.5vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 2%;
  margin-right: 3%;
}

img {
  margin-left: 40px;
}

.section {
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8%;
}

.GSM {
  font-weight: 400;
  line-height: 60px;
  color: rgba(48, 57, 96, 1);
  font-size: 31px;
  font-family: "Righteous", cursive;
}

.h1 {
  font-weight: bold;
  margin-top: 45px;
  font-size: 21px;
  flex: 2;
}

.section_h1 {
  padding: 24px 0 0 26px;
  font-weight: bold;
  font-size: 16px;
}

.all_petitions {
  font-family: "Roboto Slab", serif;
  padding: 0 0 0 141px;
  font-weight: bold;
  color: #6372a8;
  font-size: 40px;
}

.gray_box div {
  padding: 13px 20px 13px 20px;
}

.unit {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}

.gray-fir-ch {
  font-family: "Roboto Slab", serif;
  padding-left: 15px;
  color: #ffb61d;
  font-size: 26px;
  font-weight: bold;
}

.gray-sec-ch {
  font-family: "Roboto Slab", serif;
  padding-left: 15px;
  color: #a0c1ff;
  font-size: 26px;
  font-weight: bold;
}

.gray_box div {
  color: #ffffff;
  font-size: 12px;
}

.gray_box {
  margin: 0 21px 23px 21px;
  display: flex;
  justify-content: space-evenly;
  width: 320px;
  height: 60px;
  background: rgba(48, 57, 96, 0.59);
  border-radius: 10px;
}

.petition-button {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  color: #ffffff;
  background: #ffb61d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0;
  outline: 0;
  flex: 0.6;
  margin-bottom: 6%;
}
