
.body-container {
    display: flex;
    flex-direction: row;
}

.list-container {
    flex-direction: column;
    flex: 3;
    height: 800px;
}

.sidebar-container {
    display: flex;
    flex: 1;
    background-color: white;
    height: 800px;
}

.list-header {
    position: relative;
    display: flex;
    top: 3%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4.5%;
    margin-right: 9%;
}

.petition-list {
    display: flex;
    flex: 6;
    background-color: #303960;
    margin: 0% 5% 1.5% 5%;
    height: 625px;
    border-radius: 30px;
}

.kind-of-petition {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 230px;
    height: 90px;
    border-radius: 30px;
    font-size: 18px;
    margin-right: 3%;
    color: #303960;
    text-decoration: none;
}

.kind-of-petition:hover {
    background-color: #303960;
    color: #ffffff;
}

.kind-of-petition--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 230px;
    height: 90px;
    border-radius: 30px;
    background-color: #303960;
    color: #ffffff;
    margin-right: 3%;
    cursor: pointer;
}