/** @format */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

button {
  background: rgba(48, 57, 96, 1);
  padding: 6px 12px 6px 12px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  border: solid 0;
  font-size: 1em;
  margin: 2vh;
  border: 0;
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

.header {
  padding: 6vh 10vw 0.849vh 6vw;
  display: flex;
  justify-content: space-between;
}

.main {
  animation-name: index;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.index_img {
  width: 100vw;
  height: 52.3vh;
}

@keyframes index {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(57vh);
  }
}

.h1 {
  margin: 9vh 9vw 8.1vh 9vw;
  line-height: 1.51em;
  font-size: 2.5em;
}

span {
  font-weight: 400;
  line-height: 1.51em;
  color: rgba(48, 57, 96, 1);
  font-size: 1.5em;
  font-family: 'Righteous', cursive;
}
